node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache

# IDE files
.vscode
.idea

# Debug files
*.log

# Local deployment files
deployments/localhost

# Misc
.DS_Store
